<div class="formm">
<form style=" width: 80%;" [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title class="titleform" >Contact form</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="mail@example.com" formControlName="mail" [pattern]="pattern" required>
                <mat-error *ngIf="form.controls['mail'].hasError('required')">
                Mail is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['mail'].hasError('pattern')">
                  Mail is <strong>wrong</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="form.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="form.controls['lastName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Text Area" formControlName="textArea" required></textarea>
              <mat-error *ngIf="form.controls['lastName'].hasError('required')">
                Text area is <strong>empty</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" >Envoyer</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div> 