<div class="wrapper" *ngIf="product">
    <div class="product-img">
        <img mat-card-image src="{{ product.imageUrl }}" width="327px" alt="Photo of a product">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>{{ product.name }}</h1>
            <h2>{{ product.rating }}</h2>
            <p>{{ product.description }}</p>
        </div>
        <div class="product-price-btn">
            <p>{{ product.price | currency:'EUR' }}</p>
            <div>
                <label>Quantité : </label>
                <input type="number" min="0" max="100" value="0">
                <button mat-raised-button color="primary">Acheter</button>
            </div>
        </div>
    </div>
</div>