<mat-toolbar color="primary">

<a routerLink="" routerLinkActive="active">
  <img src="assets/logo.png" alt="Let's Play">
</a>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="spacer"></div>
  <a mat-button routerLink="/product-list" routerLinkActive="active">Produits</a>
  <a mat-button routerLink="/user-list">Utilisateurs</a>
  <a mat-button routerLink="/order-list">Commandes</a>
  <a mat-button routerLink="/contact-form" routerLinkActive="active">Contact</a>
  <button mat-icon-button >
    <span class="material-symbols-outlined">
      shopping_cart_checkout
    </span>
  </button>
</mat-toolbar>
